:root {
  --bg-color: #4a4a4a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
body {
  background-color: var(--bg-color);
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.card {
  height: 450px;
  width: 270px;
  background-image: linear-gradient(#ff7e5f, #feb47b);
  display: flex;
  border-radius: 20px;
  box-shadow: -1px 0px 9px -4px rgba(0, 0, 0, 0.75);
  flex-direction: column;
  align-items: center;
}
.top {
  height: 10px;
  width: 80px;
  background: var(--bg-color);
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: inset -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.form {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}
input {
  border: transparent;
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
  padding: 6px;
  outline: 0;
  background: transparent;
}
::placeholder {
  color: #fff;
}
.butn {
  margin-top: 20px;
}
.btn {
  padding: 10px;
  cursor: pointer;
  background: green;
  border-radius: 4px;
  border: 0px;
  box-shadow: -1px 0px 9px -4px rgba(0, 0, 0, 0.75);
}
/* loader */

.loader {
  display: flex;
  justify-content: center;
}
.loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid var(--bg-color);
  border-bottom: 10px solid lightskyblue;
  animation: rotate 2s linear infinite;
  border-style: groove;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: none;
}
